doctype html
html
  head
    title Cards
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")

  body
    header#left
      a(href="/")
        i(class="fa-solid fa-arrow-left")
    header#right
      a(href="/cards/add")
        i(class="fa-solid fa-square-plus")
    main
      #cards-div
        each card in cards
          .card-div
            .card-header
              span(class="deck-no-span") deck: #{card.deckNo} | 
              span(class="word-span") #{card.word}
            .card-body
              .card-info
                span(class="word-type-span") (#{card.word_type})
                if card.context
                  span(class="context-span") (context: #{card.context})
              span(class="translation-span") #{card.translation}
            .card-footer
              form(method="GET", action=`/cards/edit/${card._id}`)
                button(class="btn-edit" type="submit") edit
              form(method="POST", action=`/cards/delete/${card._id}`)
                button(class="btn-delete" type="submit") delete



