doctype html
html
  head
    title Cards
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")

  body
    header#left
      a(href="/")
        i(class="fa-solid fa-arrow-left")
    header#right
      a(href="/cards/add")
        i(class="fa-solid fa-square-plus")
    main
      table
        thead
          tr
            th word
            th word type
            th context
            th translation
            th deck no
            th actions
        tbody
          each card in cards
            tr
              td= card.word
              td= card.word_type
              td= card.context
              td= card.translation
              td= card.deckNo
              td
                a(href=`/cards/edit/${card._id}`) edit
                a(href=`/cards/delete/${card._id}`) delete
