doctype html
html
  head
    title Edit Card
    link(rel="stylesheet" href="/css/main.css")
  body
    header#left
      a(href="/cards")
        i(class="fa-solid fa-arrow-left")
    main
      h1#card-form-title edit card
      form(method="POST" action=`/cards/edit/${card._id}`)
        input(type="text" name="word" id="word" value=card.word required)
        input(type="text" name="word_type" id="word_type" value=card.type required)
        input(type="text" name="context" id="context" value=card.context)
        textarea(name="translation" id="translation" rows='5' required)=card.translation
        button(type="submit") update
