doctype html
html
  head
    title LeitnerDecks
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js")

  body
    header#right
      a(href="/cards")
        i(class="fa-solid fa-user-gear")
    main
      .deck-container
        each deck in decksData
          .deck
            h2 DECK #{deck.deckNo}
            p.card-count #{deck.cardCount} cards
            if deck.remainingMins > 0
              button(type="button" class="inactive" disabled) Practice Deck #{deck.deckNo}
            else
              a(href=`/decks/${deck.deckNo}`)
                button(type="button" class="active") Practice Deck #{deck.deckNo}
            p.time-remaining
              if Math.floor(deck.remainingMins / 1440) >= 1
                - const remainingDays = Math.floor(deck.remainingMins / 1440);
                - const remainingHours = Math.floor((deck.remainingMins % 1440) / 60);
                | Deck #{deck.deckNo} will be active in #{remainingDays} days and #{remainingHours} hours
              else if Math.floor(deck.remainingMins / 60) >= 1
                - const remainingHours = Math.floor(deck.remainingMins / 60);
                - const remainingMinutes = deck.remainingMins % 60;
                | Deck #{deck.deckNo} will be active in #{remainingHours} hours and #{remainingMinutes} mins
              else if deck.remainingMins > 0
                | Deck #{deck.deckNo} will be active in #{deck.remainingMins} mins
              else
                | Deck #{deck.deckNo} is now active
