doctype html
html
  head
    title LeitnerDecks
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")

  body
    header#right
      a(href="/cards")
        i(class="fa-solid fa-user-gear")
    main
      .deck-container
        each deck in decksData
          .deck
            h2 DECK #{deck.deckNo}
            p.card-count #{deck.cardCount} Cards
            if deck.remainingHours > 0
              button(type="button" class="inactive" disabled) Practice Deck #{deck.deckNo}
            else
              a(href=`/decks/${deck.deckNo}`)
                button(type="button" class="active") Practice Deck #{deck.deckNo}
            p.time-remaining
              if deck.remainingHours >= 24
                | Deck #{deck.deckNo} will be active in #{Math.floor(deck.remainingHours / 24)} days
              else if deck.remainingHours > 0
                | Deck #{deck.deckNo} will be active in #{deck.remainingHours} hours
              else
                |
